[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=google_maps_browser_qml
Exec=/opt/google_maps_browser_qml/bin/google_maps_browser_qml
Icon=google_maps_browser_qml64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
